<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bed</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- fontfamily -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <style>
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
    <script src="../scripts/scroll.js"></script>
    <link rel="stylesheet" href="../styles/product.css" />
  </head>
  <body>
    <nav class="z-auto bg-white-600 p-0">
      <div class="px-6 mx-auto flex justify-between items-center bg-gray-200">
        <a href="#" class="text-white text-2xl font-bold"
          ><img src="../assets/Logo.png" alt="Logo" class="h-[50px] my-2"
        /></a>

        <ul class="hidden md:flex space-x-6">
          <li>
            <a
              href="/team1-Furniture-company/index.html"
              class="text-amber-900 hover:text-blue-900"
              >Home</a
            >
          </li>
          <li>
            <a
              href="../pages/about.html"
              class="text-amber-900 hover:text-blue-900"
              >About</a
            >
          </li>
          <li>
            <a
              href="../pages/product.html"
              class="text-amber-900 hover:text-blue-900"
              >Product</a
            >
          </li>
          <li>
            <a
              href="../pages/pages.html"
              class="text-amber-900 hover:text-blue-900"
              >Pages</a
            >
          </li>
          <li class="relative group">
            <button class="text-amber-900 hover:text-blue-900">Category</button>
            <ul
              class="z-50 absolute left-0 mt-2 w-40 bg-white shadow-md rounded-lg hidden group-hover:block"
            >
              <li>
                <a
                  href="../pages/table-g.html"
                  class="block px-4 py-2 hover:text-blue-900"
                  >Table</a
                >
              </li>
              <li>
                <a
                  href="../pages/sofa-g.html"
                  class="block px-4 py-2 hover:text-blue-900"
                  >Sofa</a
                >
              </li>
              <li>
                <a
                  href="../pages/mirror-g.html"
                  class="block px-4 py-2 hover:text-blue-900"
                  >Mirror</a
                >
              </li>
              <li>
                <a
                  href="../pages/lamp.html"
                  class="block px-4 py-2 hover:text-blue-900"
                  >Lamp</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:text-blue-900">Bed</a>
              </li>
            </ul>
          </li>
          <li>
            <a
              href="../pages/blog.html"
              class="text-amber-900 hover:text-blue-900"
              >Blog</a
            >
          </li>
          <li>
            <a
              href="../pages/contact.html"
              class="text-amber-900 hover:text-blue-900"
              >Contact</a
            >
          </li>

          <li>
            <a href="#"
              ><i
                class="fa-solid fa-magnifying-glass text-amber-900 hover:text-blue-900"
              ></i>
            </a>
          </li>
          <li>
            <a href="#"
              ><i
                class="fa-regular fa-user text-amber-900 hover:text-blue-900"
              ></i>
            </a>
          </li>
          <li>
            <a href="#" class="text-amber-900">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </li>
        </ul>

        <button id="menu-btn" class="md:hidden text-white focus:outline-none">
          ☰
        </button>
      </div>

      <ul
        id="mobile-menu"
        class="hidden md:hidden bg-blue-700 text-white text-center space-y-2 p-4"
      >
        <li>
          <a href="/team1-Furniture-company/index.html" class="block py-2"
            >Home</a
          >
        </li>
        <li><a href="../pages/about.html" class="block py-2">About</a></li>
        <li><a href="../pages/product.html" class="block py-2">Product</a></li>
        <li><a href="../pages/pages.html" class="block py-2">Pages</a></li>
        <li class="relative group">
          <button class="hover:text-blue-900">Category</button>
          <ul
            class="absolute left-0 mt-2 w-40 bg-white shadow-md rounded-lg hidden group-hover:block"
          >
            <li>
              <a
                href="../pages/table-g.html"
                class="block px-4 py-2 hover:text-blue-900 text-black"
                >Table</a
              >
            </li>
            <li>
              <a
                href="../pages/sofa-g.html"
                class="block px-4 py-2 hover:text-blue-900 text-black"
                >Sofa</a
              >
            </li>
            <li>
              <a
                href="../pages/mirror-g.html"
                class="block px-4 py-2 hover:text-blue-900 text-black"
                >Mirror</a
              >
            </li>
            <li>
              <a
                href="../pages/lamp.html"
                class="block px-4 py-2 hover:text-blue-900 text-black"
                >Lamp</a
              >
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:text-blue-900 text-black"
                >Bed</a
              >
            </li>
          </ul>
        </li>

        <li></li>
        <li><a href="../pages/blog.html" class="block py-2">Blog</a></li>
        <li><a href="../pages/contact.html" class="block py-2">Contact</a></li>
      </ul>
    </nav>
    <script src="../scripts/menu.js"></script>
  </body>
</html>
